<div class="container">
    <form>
      <fieldset>
          <legend>Add product</legend>
          <input ng-model="product.name" type="text" placeholder="Product name"/>
          <br>
          <input ng-model="product.price" type="text" placeholder="Product price"/>
          <br>
          <!--input type="textarea" placeholder="Extra information"/>
          <br-->
          <button ng-click="product.post_product()">Save information</button>
        </fieldset>
    </form>
    <br>
    <button ng-click="back()">Products</button>
</div>